#ifdef WINDRES
#undef RC_INVOKED
#endif
#ifndef RC_INVOKED
#include "winuser.h"

#include "wine9x.h"

1 VERSIONINFO
FILEVERSION 5,4,0,904
PRODUCTVERSION 5,4,0,904
FILEOS 0x10004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{	
	BLOCK "040904E4"
	{
		VALUE "CompanyName", "Microsoft Corporation"
		VALUE "FileDescription", "Microsoft DirectDraw"
		VALUE "FileVersion", "5.04.00.0904"
		VALUE "InternalName", "ddrawme.dll"
		VALUE "LegalCopyright", "Copyright © Microsoft Corporation.  All rights reserved."
		VALUE "OriginalFilename", "ddrawme.dll"
		VALUE "ProductName", "WINE DirectX Wrapper " WINE9X_VERSION_STR
		VALUE "ProductVersion", "5.04.00.0904"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04E4
}
}

#endif
